 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    Daily Records
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h4>Daily Records</h4>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
              <div class="input-group">
                  <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search By Name" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                  <span class="input-group-addon">Search</span>
              </div>
            </div>
        </div>
    </div>
</div>

            <table class="table table-bordered pagin-table">
                <thead>
                    <tr>
                      <!--  <th>No</th> -->
                       <!-- <th>History of Present Illness</th> -->
                       <th>Patient Name </th>
                        <th>Patient ID</th>

                        <th>Complaint</th>
                        <th>Treatment Plan</th>
                     <!--   <th>Diseases</th> -->
                        <th>Remarks</th>
                     <!--   <th>Other History</th> -->
                    <!--    <th width="200px">Findings</th> -->
                        <th>Bill</th>
                        <th width="180px">Date</th>
                        <th width="150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
                       <!--<td>{{ ($index + 1) }} </td> -->
                    <!--    <td><b>Fever:</b> <i>{{ value.fever }}</i> </br> <b>Blood:</b> <i>{{ value.bpressure}}</i> </br> <b>Weight:</b> <i>{{value.weight}}</i> </br> <b>Pluse:</b> <i>{{value.pulse}}</i></td>-->
                        <td>{{value.name}} </td>
                        <td>{{ value.patient_id }}</td>
                        <td>{{value.complaint}} </td>
                        <td>{{value.treatplan}} </td>
                   <!--     <td>{{value.diseases}} </td> -->
                        <td>{{value.remarks}} </td>
                   <!--     <td>{{ value.otherhistory }}</td> -->
                     <!--   <td>Phy: <i><b>{{ value.finding_phy}}</b></i> </br> Diagn: <i><b>{{value.finding_dm}}</b></i> </br> Lab: <i><b>{{value.finding_lab}}</b></i> </td> -->
                        <td><b>{{ value.bill }}</b></td>
                        <td>{{ value.created_at }}</td>
                        <td>
                    <!--    <button data-toggle="modal" ng-click="edit(value.id)" data-target="#edit-history" class="btn btn-success">Edit</button> -->
                        <button data-toggle="modal" ng-click="edit(value.hid)" data-target="#edit-history" class="btn btn-info">View Details</button>
                      <!--  <button ng-click="remove(value,$index)" class="btn btn-danger">Delete</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>

 <!-- Add History  Modal -->
<div class="modal fade" id="create-history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Patient's History</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="row"></div>
                         <div class="col-md-4"><h4><b>History of Present Illness</b></h4></div>
                        <div class="row"></div>
                        <div class="row"></div>

                        <div class="col-md-2">
                            <strong>Fever :</strong>
                            <div class="form-group">
                                <input ng-model="form.fever" type="text" placeholder="eg. 100 F" name="fever" class="form-control" style="width: =150px;" />
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <strong>Blood Pressure :</strong>
                            <div class="form-group">
                                <input ng-model="form.bpressure" type="text" placeholder="eg. 70/90 mmHg" name="title" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Weight :</strong>
                            <div class="form-group">
                                <input ng-model="form.weight" type="text" placeholder="eg. 100 lb" name="weight" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Pulse Rate :</strong>
                            <div class="form-group">
                                <input ng-model="form.pulse" type="text" placeholder="eg. 90 /min" name="title" class="form-control"  />
                            </div>
                        </div> 
                        <div class="row"></div>
                        <div class="col-md-2">
                            <strong>Chief Complaint :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.complaint" class="form-control" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Underlying Diseases :</strong>
                               <div class="form-group" >
                                <textarea ng-model="form.diseases" class="form-control" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Remarks :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.remarks" class="form-control" >
                                </textarea>
                            </div>
                        </div>

                        <div class="row"></div>
                        <div class="col-md-4">
                            <strong>Treatment : </strong>
                            <div class="form-group" >
                                <textarea ng-model="form.treatplan" class="form-control" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Other History : </strong>
                            <div class="form-group" >
                                <textarea ng-model="form.otherhistory" class="form-control" >
                                </textarea>
                            </div>
                        </div>   
                        <div class="row"></div>                                 
                        <div class="col-md-2">
                            <strong>Physical Examination :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.finding_phy" class="form-control" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Diagnosis (eg. DM) :</strong>
                               <div class="form-group" >
                                <textarea ng-model="form.finding_dm" class="form-control" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Laboratory Finding :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.finding_lab" class="form-control" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>X-Ray : </strong>
                            <div class="form-group">
                             <button type="button" class="btn btn-default" data-toggle="modal" ng-click="changeLabel('0')" data-target="#myModal">View image</button>
                            </div>
                        </div>
                        <div class="row"></div>                                 
                        <div class="col-md-2">
                            <strong>Bill :</strong>
                            <div class="form-group">
                                <input ng-model="form.bill" type="text" placeholder="kyats" name="title" class="form-control"  />
                            </div>
                        </div> 
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit History  Modal -->
<div class="modal fade" id="edit-history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"x id="myModalLabel">Patient's History</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="row"></div>
                         <div class="col-md-4"><h4><b>History of Present Illness</b></h4></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="col-md-2">
                            <strong>Body Temprature (F):</strong>
                            <div class="form-group">
                                <input ng-model="form.fever" type="text" placeholder="eg. 97.8-99 F" name="fever" class="form-control" style="width: =150px;" />
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <strong>Blood Pressure (mmHg):</strong>
                            <div class="form-group">
                                <input ng-model="form.bpressure" type="text" placeholder="eg. 120/80 mmHg" name="title" class="form-control" style="width: =150px;" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Weight (lb):</strong>
                            <div class="form-group">
                                <input ng-model="form.weight" type="text" placeholder="eg. 100 lb" name="weight" class="form-control" style="width: =150px;"  />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Pulse Rate (/min):</strong>
                            <div class="form-group">
                                <input ng-model="form.pulse" type="text" placeholder="eg. 60-100 /min" name="title" class="form-control" style="width: =150px;" />
                            </div>
                        </div> 
                        <div class="row"></div>
                        <div class="col-md-2">
                            <strong>Respiratory Rate (/min):</strong>
                            <div class="form-group">
                                <input ng-model="form.res" type="text" placeholder="eg. 12-16 /min" name="res" class="form-control" style="width: =150px;" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Chief Complaint :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.complaint" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Underlying Diseases :</strong>
                               <div class="form-group" >
                                <textarea ng-model="form.diseases" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Remarks :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.remarks" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>

                        <div class="row"></div>
                        <div class="col-md-4">
                            <strong>Treatment : </strong>
                            <div class="form-group" >
                                <textarea ng-model="form.treatplan" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Other History : </strong>
                            <div class="form-group" >
                                <textarea ng-model="form.otherhistory" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>   
                        <div class="row"></div>                                 
                        <div class="col-md-2">
                            <strong>Physical Examination :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.finding_phy" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Diagnosis (eg. DM) :</strong>
                               <div class="form-group" >
                                <textarea ng-model="form.finding_dm" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Laboratory Finding :</strong>
                            <div class="form-group" >
                                <textarea ng-model="form.finding_lab" class="form-control" style="width: =450px;" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>X-Ray : </strong>
                            <div class="form-group">
                             <button type="button" class="btn btn-default" data-toggle="modal" ng-click="changeLabel('0')" data-target="#myModal">View image</button>
                            </div>
                        </div>
                        <div class="row"></div>                                 
                        <div class="col-md-2">
                            <strong>Bill :</strong>
                            <div class="form-group">
                                <input ng-model="form.bill" type="text" placeholder="kyats" name="title" class="form-control"  style="width: =150px;" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>MRI(Magnetic Resonance Imaging) : </strong>
                            <div class="form-group">
                             <button type="button" class="btn btn-default" data-toggle="modal" ng-click="changeLabel('1')" data-target="#myModal">View image</button>
                            </div>
                        </div>
                         <div class="col-md-2">
                            <strong>CT(Computer Tomography) : </strong>
                            <div class="form-group">
                             <button type="button" class="btn btn-default" data-toggle="modal" ng-click="changeLabel('2')" data-target="#myModal">View image</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Ultrasound : </strong>
                            <div class="form-group">
                             <button type="button" class="btn btn-default" data-toggle="modal" ng-click="changeLabel('3')" data-target="#myModal">View image</button>
                            </div>
                        </div> 
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                 <!--   <button type="submit"  class="btn btn-primary">Submit</button> -->
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div> 

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
                        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">{{label}}</h4>
            </div>
        <div class="modal-body ">
            <img src="{{popImage}}" class="img-responsive">
        </div>
    </div>
  </div>
</div>           

</div>           